<p>yummmm, tacos</p>

<p>please give me more tacos. I like:</p>

<% fillings = [ "Carne asada", "Cocinita pibil", "Fish" ] %>

<ul>
  <% for filling in fillings %>
  <li><%= filling %></li>
  <% end %>
<ul/>  

